
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
/* Header styles */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: rgba(229, 84, 115, 0.10);
    padding: 20px 20px 0px 20px;
    
}
.header-image{
    width: 500px;

   
}
.title{
    color: #272727;
    font-size: 60px;
    font-weight: 700;
    padding: 0px 0px 32px 0px;
    

}
.banner-description{
    align-items: center;
    width: 50%;
    padding: 100px 0px 0px 0px;

}

.title-description{
    color: rgba(39, 39, 39, 0.60);
    padding: 0px 0px 32px 0px;
    
}
.shop-now-button{
    background-color: #E55473;
    padding: 10px 33px;
    border: none;
    color: white;
    margin-bottom: 100px;
    border-radius: 5px;
}
.feature-container{
    width: 50%;
   margin: auto;
   padding: 100px 0px 40px 0px;
}
.feature-title{
    text-align: center;
    color:  #272727;
}
.feature-description{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
}

/* flower section styles */

.flowers-container{
    display: flex;
    gap: 30px;
    margin-left: 130px;
}
.flower-image1{
    width: 230px;
    margin: 0px 0px -4px;
}
.flower-image2{
    width: 230px;  
}
.flower-image3{
    width: 230px;
}
.flower-box1{
    background-color: rgba(167, 33, 98, 0.15);
    padding: 110px 45px 0px 45px;
   border-radius: 300px 300px 0px 0px;  
}
.flower-box2{
    background-color: rgba(5, 151, 160, 0.15);
    padding: 110px 45px 0px 45px;
    border-radius: 300px 300px 0px 0px;   
}
.flower-box3{
    background-color: rgba(71, 125, 17, 0.15);
    padding: 75px 45px 0px 45px;
    border-radius: 300px 300px 0px 0px;
    display: flex;
    align-items: flex-end;
}
.flowers-container {
    display: flex;
    gap: 30px;
    margin-left: 130px;
}

.flower-titles {
    display: flex;
    gap: 30px;
    margin: 0 auto;
    justify-content: center;
    width: 80%;
    padding-top: 20px;
}

.flower-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.flower-title h3 {
    margin: 0;
    text-decoration: underline;
}



/* sale container styles*/
.sale-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    background-color: rgba(229, 84, 115, 0.05);
    padding: 20px;
}
.sale-col{
    width: 50%;
    align-items: center;
    margin-top: 150px;
    
}
.sale-title{
    text-align: center;
    
}
.sale-description{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
}
.signup-button{
    background-color: #E55473;
    padding: 10px 33px;
    border: none;
    color: white;
    margin: 30px 0px 100px 260px;  
    border-radius: 5px;
}
.sale-flower{
    width: 250px;
}

.flower-picture-container{
    display: flex;
    gap:30px;
    margin-left: 100px;
}
.image{
    width: 250px;
}
.deals-container{
    background-image:url("Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 40vh;
    width: 75%;
    margin: auto;
    align-items: center;
    margin-top: 150px;
    
}
.deals-row{
    
    text-align: center;
    padding: 70px 0px 0px 0px;
}
.subscribe-button{
    background-color: #E55473;
    padding: 10px 33px;
    border: none;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}
.input-field{
    border: none;
    border-radius: 5px;
    background: #FFF;
    padding: 10px;
}
.deals-title{
    color: #272727;

}
.deal{
    color:rgba(39, 39, 39, 0.60);
    font-size: 14px;
}